{% extends 'base.html.twig' %}

{% block title %}! VINTYLE Produits par Categorie !
{% endblock %}

{% block main %}


	<section class="main-body d-flex justify-content-center">
		<div class="box-promo px-5">

			<div class="text-promo">
				<h2 class="text-center my-4">Catégorie :
					{{ category.name }}</h2>
			</div>


			<div class="categorie row d-flex justify-content-center">
				{% for product in products %}
					<div class="col-lg-4 col-md-6 col-sm-12 mb-4">
						<div class="card mx-auto">
							<img src="{{ asset('uploads/productimage/' ~ product.image) }}" class="card-img-top" alt="Card Image">
							{% if product.ProductSales is not null %}
								<div class="bg-success text-center text-white w-100">Promo :
									{{ product.ProductSales.getAmountPercentage }}%</div>
							{% endif %}
							<div class="card-body px-0 pb-0">
								<h5 class="card-title mb-0">{{ product.name }}</h5>
								<p class="card-text">{{ product.description }}</p>

                            	<h6 class="card-subtitle mb-1 {% if product.ProductSales is not null %} oldprice {% endif %}">{{ product.price }}€</h6>

								{% if product.ProductSales is not null %}
									<h6 class="card-subtitle mb-0">{{ product.price * (1 - (product.ProductSales.getAmountPercentage / 100)) | number_format(2, '.', ',') }}€</h6>
								{% endif %}

								<a href="{{ path('app_product_details', {'id': product.id}) }}" class="btn bouton mt-3">Accéder à ce produit</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>


	</section>


{% endblock %}
