{% extends 'base.html.twig' %}
 
{% block title %}Bienvenue sur notre site de vinyle!{% endblock %}
 
{% block stylesheets %}
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap" rel="stylesheet">
{% endblock %}
 
 
{% block main %}
<section>
    <div class="container-fluid">
        <div class="box d-flex">
            
            <h2>Promotion</h2>
        <div class="container mt-3">
            <div class="row">
                {% for item in products|slice(0,2) %}
                    <div class="col-md-6 mb-4">
                        <div class="card mx-auto">
                            <!-- image vinyle -->
                            <div>
                                <img class="card-img-top" src="{{ asset('uploads/productimage/'~item.image) }}" alt="Card image cap">
                                <!-- Onglet 20% -->
                                <span class="label label-default position-absolute" >{{ item.ProductSales.AmountPercentage }}%</span>
                            </div>

                            <div class="card-body">
                                <h4 class="card-title">Groupe : {{ item.name }}</h4>
                                <h5 class="card-text">Album : {{ item.description }}</h5>
                                    <div class="promotion-info">
                                        <h6 class="price-section card-subtitle mb-2">Prix : {{ item.price }} €</h6>
                                        <h5 class="promo-description">{{ item.ProductSales.AmountPercentage }}% de réduction</h5>
                                        {% set discountedPrice = (item.price - (item.price * (item.ProductSales.AmountPercentage / 100)))|round(2) %}
                                        <h5 class="promo-price">Prix avec réduction : {{ discountedPrice }} €</h5>
                                    </div>
                                <a href="#" class="btn">Acceder à ce produit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="main-body d-flex justify-content-center">
    <hr class="hr">
</section>
 
<section class="main-body d-flex justify-content-center">
    <div class="box-hit">
   
        <div class="text-hit">
            <h2> Hit Vinyles</h2>
        </div>
 
        <div class="container mt-3">
            <div class="row">
                {% for item in products|slice(0, 2) %}
                <div class="col-md-6 mb-4">
                    <div class="card mx-auto">
                        <img src="{{ asset('uploads/productimage/' ~ item.image) }}" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h4 class="card-title">Groupe : {{ item.name }}</h4>
                            <h5 class="card-text">Album : {{ item.description }}</h5>
                              <div class="box-price">
                            <h6 class="card-subtitle mb-2">{{ item.price }} €</h6>
                            </div>
                            <a href="#" class="btn">Accéder à ce produit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
 
        <div class="row">
            {% for item in products|slice(2, 4) %}
            <div class="col-md-6 mb-4">
                    <div class="card mx-auto">
                        <img src="{{ asset('uploads/productimage/' ~ item.image) }}" class="card-img-top" alt="Card Image">
                        <div class="card-body">
                            <h4 class="card-title">Groupe : {{ item.name }}</h4>
                            <h5 class="card-text">Album : {{ item.description }}</h5>
                              <div class="box-price">
                            <h6 class="card-subtitle mb-2">{{ item.price }} €</h6>
                            </div>
                            <a href="#" class="btn">Accéder à ce produit</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
</section>
 
<section class="main-body d-flex justify-content-center">
    <hr class="hr">
</section>
 
 
 
{% endblock %}