{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block main %}

<div class="card" style="width: 18rem;">
    <img src="{{ asset('upload/productimage/'~product.image) }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ description }}</p>
        <p class="card-text">Prix: {{ price }}</p>
        <form method="post" action="{{ path('app_index', {'id': product.id}) }}">
            <label for="quantity">Quantité:</label>
            <input type="number" id="quantity" name="quantity" min="1" max="100">
            <input type="submit" value="Ajouter au panier">
        </form>
        
    </div>
</div>


{% endblock %}

