{% extends 'base.html.twig' %}

<<<<<<< HEAD
{% block stylesheets %}
 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('styles/base.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
{% endblock %}

{% block title %}{{ product.name }}/{{ product.description }}{% endblock %}

{% block main %}
<section>
    <div class="container-fluid">
        {# onglet produit + bouton Retour #}
        <div class="box d-flex justify-content-between align-items-center">
            
            <h2>{{ product.name }} / {{ product.description }}</h2>
            
            <div class="bouton-retour">
                <a href="/categories" class="btn">Retour</a>
            </div>
        </div>

        {# style fiche Produit #}
        <div class="container box">
            <div class="row">
                    <!-- Colonne pour l'image -->
                    <div class="col-md-6">
                        <img class="card-img-top" src="{{ asset('uploads/productimage/'~product.image) }}" alt="Card image cap">
                    </div>

                    <!-- Colonne pour le texte à droite -->
                    <div class="col-md-6">
                        <h4>{{ product.name }}</h4>
                        <h4>{{ product.description }}</h4>
                        <h3>Prix : {{ product.price }} €</h3>
                    
            {#            <div class="promotion-info">
                            <h6 class="price-section card-subtitle mb-2">Prix : {{ item.price }} €</h6>
                            <h5 class="promo-description">{{ item.ProductSales.AmountPercentage }}% de réduction</h5>
                            {% set discountedPrice = (item.price - (item.price * (item.ProductSales.AmountPercentage / 100)))|round(2) %}
                            <h5 class="promo-price">Prix avec réduction : {{ discountedPrice }} €</h5>
                        </div>   
            #}      
                    </div>
                </div>
        

                    <!-- Bouton Panier en bas -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 ">
                            <div class="panier-container">
                                <button class="btn-count" id="decrement"> - </button>
                                <span id="counter"> 0 </span>
                                <button class="btn-count" id="increment"> + </button>
                               
                                <a class="btn" href=" ">Panier
                                <img class="img" src="{{ asset('/asset/img/basketBlack.png') }}" alt="panier">
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# java pour le compteur #}          
                    <script>
                        $(document).ready(function() {
                            let counter = 0;

                            // Fonction pour incrémenter le compteur
                            $("#increment").click(function() {
                                counter++;
                                $("#counter").text(counter);
                            });

                            // Fonction pour décrémenter le compteur
                            $("#decrement").click(function() {
                                if (counter > 0) {
                                    counter--;
                                    $("#counter").text(counter);
                                }
                            });
                        });
                    </script>

        </div>
        <div class="container">
        DESCRIPTION :

        </div>
    </div>
</section>
{% endblock %}

=======

{% block title %}
	{{ product.name }}/{{ product.description }}
{% endblock %}

{% block main %}


	<section class="main-body d-flex justify-content-center pb-0">
		<div class="box-promo pb-5">

			<div class="text-promo text-center mb-5">
				<h2 class="text-center mt-4">{{ product.name }}
					/
					{{ product.description }}</h2>
			</div>

			
			
			{# style fiche Produit #}
			<div class="container box">
				<div
					class="row">
					<!-- Colonne pour l'image -->
					<div class="col-md-6">
						<div class="card">
							<img src="{{ asset('uploads/productimage/'~product.image) }}" alt="Card image cap">
							{% if product.ProductSales is not null %}
								<div class="bg-success text-center text-white w-100">Promo :
									{{ product.ProductSales.getAmountPercentage }}%</div>
							{% endif %}
						</div>
					</div>

					<!-- Colonne pour le texte à droite -->
					<div class="col-md-6 mt-4">

						<h4 class="mb-3">
							<b>Titre :</b>
							{{ product.name }}</h4>
						<h4 class="mb-3">
							<b>Album :</b>
							{{ product.description }}</h4>
						<h4 class="mb-3">
							<b>Prix :</b>
							<div class="d-inline card-subtitle mb-1 {% if product.ProductSales is not null %} oldprice {% endif %}">
								{{ product.price }}€
							</div>
                            {% if product.ProductSales is not null %}
							<div class="d-inline ml-4">&nbsp;{{ product.price * (1 - (product.ProductSales.getAmountPercentage / 100)) | number_format(2, '.', ',') }}€</div>
                            {% endif %}
						</h4>

                        <hr class="my-4">

						Quantité :
						<div class="row d-flex align-item-botton mt-2">
							<div class="col">
							<form action="{{ path('app_cart_add', {'id': product.id}) }}" name="addCart" method="POST">
                                <div class="form-group">
                                    <input type="number" name="quantity" id="quantity" class="form-control" min="1" placeholder="Saisissez une valeur" value="1">
                                </div>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Ajouter au panier</button>
                                </form>
						</div>

                        <hr class="my-4">

            			<a href="{{ path('app_index_categories') }}"><button class="btn btn-secondary mt-4">Retourner aux catégories</button></a>
            			<a href="{{ path('app_index') }}"><button class="btn btn-secondary mt-4">Retourner à l'accueil</button></a>

					</div>
				</div>


				<!-- Bouton Panier en bas -->
			</section>
		</div>
	{% endblock %}
>>>>>>> NewMain
