{% extends 'adminBase.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block main %}

	<br>
	<h2>
		<a href="{{ path('app_admin_dashboard') }}">Dashboard</a>
		>
		<a href="{{ path('app_admin_product') }}">Liste des produits</a>
	</h2>

	<br>


	<div class="d-flex justify-content-between">
		<div>
			<a href="{{ path('app_admin_create_product') }}">
				<button type="button" class="btn btn-primary">Créer un produit</button>
			</a>
		</div>

		<div>
			<form action="{{ path('app_admin_product_search') }}" method="GET" name="searchProduct">
				<input type="search" name="search"/>
				<input type="submit" name="submit" value="Search"/>
			</form>
		</div>

	</div>


	<br>
	<table class="table table-light table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">#</th>
				<th scope="col">Nom</th>
				<th scope="col">Album</th>
				<th scope="col">Image</th>
				<th scope="col">Prix</th>
				<th scope="col">TVA</th>
				<th scope="col">Promo</th>
				<th scope="col">Actions</th>


			</tr>
		</thead>
		<tbody>

			{% if (products == null) %}
				<tr>
					<td colspan="6">Product list is empty...
						<a href="{{ path('app_admin_create_product') }}">Add a new product</a>
					</td>
				</tr>
			{% else %}

				{% for product in products %}
					<tr>
						<th scope="row">{{ loop.index }}</th>
						<td>{{ product.name }}</td>
						<td>{{ product.description }}</td>
						<td><img src={{ asset('uploads/productimage/' ~ product.image) }} class="prodlist"/></td>
						<td>{{ product.price }}
							€
						</td>
						{% if product.ProductTaxes is same as(NULL) %}
							<td>Pas de taxes</td>
						{% else %}
							<td>-{{product.ProductTaxes.amount}}
								%
							</td>
						{% endif %}
						{% if product.ProductSales is same as(NULL) %}
							<td>Pas de promotion</td>
						{% else %}
							<td>-{{product.ProductSales.AmountPercentage}}
								%
							</td>
						{% endif %}

						<td>
							<a href="{{ path('app_admin_show_product', {'id': product.id}) }}">
								<button type="button" class="btn btn-primary">Voir</button>
							</a>
							<a href="{{ path('app_admin_update_product', {'id': product.id}) }}">
								<button type="button" class="btn btn-primary">Modifier</button>
							</a>
							<a href="{{ path('app_admin_delete_product', {'id': product.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ?')">
								<button type="button" class="btn btn-danger">Supprimer</button>
							</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		{% endif %}

	</table>


{% endblock %}
