{% extends 'adminBase.html.twig' %}

{% block title %}Sales!
{% endblock %}

{% block main %}
	<br>
	<h2>
		<a href="{{ path('app_admin_dashboard') }}">Dashboard</a>
		>
		<a href="{{ path('app_admin_listsales') }}">Promotions</a>
	</h2>
	<br>
	<a href="{{ path('app_admin_createsale') }}">
		<button class="btn btn-primary">Creer une nouvelle promotion</button>
	</a>
	<a href="{{ path('app_admin_erase_productesale') }}">
		<button class="btn btn-danger">Supprimer l'application de promotions aux produits</button>
	</a>
	<br>
	<br>
	<table class="table table-light table-striped">
		<thead>
			<tr>
				<th>Nom de la promotion</th>
				<th>Pourcentage de la remise</th>
				<th colspan="3">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for item in sales %}


				<tr>
					<td>{{item.name}}</td>
					<td>{{item.AmountPercentage}}%</td>
					<td>
						<a href="{{ path('app_admin_updatesale',{'id' : item.id}) }}">
							<button class="btn btn-primary">Modifier</button>
						</a>
					</td>
					<td>
						<a class="text-danger" href="{{ path('app_admin_deletesale',{'id' : item.id}) }}">
							<button class="btn btn-danger">Supprimer</button>
						</a>
					</td>
					<td>
						<a class="text-success" href="{{ path('app_admin_productesale',{'id' : item.id}) }}">
							<button class="btn btn-success">Appliquer cette promotion</button>
						</a>
					</td>

				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
