{% extends 'base.html.twig' %}

{% block title %}Sales!
{% endblock %}

{% block main %}
	<table>
    <form method='POST'>
		<tr>
			<th>Nom du produit</th>
			<th>Reduction appliqué</th>
		</tr>
  <div>
  </div>
		{% for item in products %}


			<tr>
				<td>{{item.name}}</td>
                {% if item.ProductSales is same as(NULL) %}
                <td>Pas de promotion</td>
                {% else %}
                <td>{{item.ProductSales.AmountPercentage}}%</td>
                {% endif %}
				
				<td>
					<div>
    <input type="checkbox" id="Product{{ item.id }}" name="Product{{ item.id }}" value="{{ item.id }}" />
    <label for="Product{{ item.id }}">{{ labelname}}</label>
            </div>
				</td>
			</tr>
		{% endfor %}
	</table>
     <div>
    <button class='btn btn-primary' type="submit" name="submit">Appliquer</button>
  </div>


{% endblock %}
