{% extends 'base.html.twig' %}

{% block title %}Creer un produit{% endblock %}

{% block main %}
     <h1>{{ title }}</h1>
     <div>
        <a href="{{ ('app_admin_product') }}">produit/</a>
        <a href="{{ ('app_admin_create_product') }}">Creer un produit</a>
    </div>
    <div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Créer</button>
    <button> <a href="{{ path('app_admin_product') }}">RETOUR</a></button>
    {{ form_end(form) }}
    </div>
{% endblock %}

