{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block main %}
    <h1>Liste des PRODUITS</h1>
    
<a href="{{ path('app_admin_dashboard') }}">Dashboard/ </a>
<a href="{{ path('app_admin_product') }}">Liste des produits/ </a>
<div class="container mt-5"> 
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom</th>
                <th scope="col">Album</th>
                 <th scope="col">Image</th>
                <th scope="col">Prix</th>
                <th scope="col">TVA</th>
                <th scope="col">Promo</th>
                <th scope="col">Action</th>

              
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.image }}</td>
                    <td>{{ product.price }} € </td>
                    <td>{{ product.ProductTaxes.amount }} % </td>
                    {% if product.ProductSales is same as(NULL) %}
                        <td>Pas de promotion</td>
                        {% else %}
                        <td>-{{product.ProductSales.AmountPercentage}} % </td>
                        {% endif %}

                    <td> 
                        <a href="{{ path('app_admin_show_product', {'id': product.id}) }}">Voir</a>
                        <a href="{{ path('app_admin_update_product', {'id': product.id}) }}">Modifier</a>
                        <a href="{{ path('app_admin_delete_product', {'id': product.id}) }}" onclick="return confirm('Voulez-vous vraiment supprimer ?')">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="card-footer text-center">
        <button type="button" 
                class="btn btn-warning" 
                style="background-color: #e7bc91; 
                    border-color: #603808;">
                <a href="{{ path('app_admin_create_product') }}">CREER UN PRODUIT</a>
        </button>
    </div>

</div> 
<br>
{% endblock %}

  



