{% extends 'adminBase.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block main %}
    <div>
        <a href="{{ path('app_admin_product') }}">produit/</a>
        <a href="{{ path('app_admin_update_product', {'id': product.id}) }}">Modifier</a>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button type="submit" name="submit" onclick="return confirm('Voulez-vous vraiment Modifier ?')">Modifier</button>
    {{ form_end(form) }}
    
    <button><a href="{{ path('app_admin_product') }}">RETOUR</a></button>

{% endblock %}