<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Page d'accueil - Vintyle{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('styles/base.css') }}" >
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}
        {# {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %} #}
    </head>
    <body>
        {% block header %}
            <header>
                <div class="top-nav">
                    <div class="home-actions">
                        <a href="{{ path('app_index') }}">Accueil<img src="{{ asset('asset/img/home.png') }}" alt="accueil"></a>
                    </div>
                    <div class="account-actions">
                    {# use this to protect links user shouldn't access unless fully connected #}
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}  
                            <a href="{{ path('app_user_account') }}">Mon compte<img src="{{ asset('asset/img/account.png') }}"></a>
                            <span></span>
                            <a href="{{ path('app_user_history') }}">Historique<img src="{{ asset('asset/img/history.png') }}"></a>
                            <span></span>
                            <a href="{{ path('app_logout') }}">Se déconnecter<img src="{{ asset('asset/img/account2.png') }}"></a>
                        {% else %}
                            <a href="{{ path('app_login') }}">Se connecter<img src="{{ asset('asset/img/account1.png') }}" alt="connexion"></a>
                            <span></span>
                            <a id="signup" href="{{ path('app_new_user') }}">S'inscrire<img src="{{ asset('asset/img/account.png') }}" alt="inscription"></a>
                        {% endif %}
                    </div>
                    <div class="cart-actions">
                        <a href="">Panier</a>
                           {{ render(controller(
                         'App\\Controller\\PagesController::cartCount'
                             )) }}
                    </div>
                </div>
                <div class="mid-nav">
                    <div class="logo">
                        <a href=""><img src="{{ asset('asset/img/logo.png') }}" alt="Logo"></a>
                    </div>
                    <div class="hamburger-btn">
                        <button type="button" class="script-hamburger" onclick="displayMenu()" aria-expanded="false" aria-haspopup="true" aria-controls=".hamburger-menu" aria-label="Ouvrir le menu">
                    <div class="icon-hamburger"><span></span><span></span><span></span></div>
                        </button>
                    </div>
                </div>
                <div class="container-nav-mobile">
                    <div class="nav-mobile">
                        <ul class="nav-mobile-links">
                            <li><a href="{{ path('app_index') }}" aria-label="" >Catégorie 1</a><img src="{{ asset('asset/img/arrow.png') }}" alt="arrow"></li>
                            <li><a href="{{ path('app_index') }}" aria-label="" >Catégorie 2</a><img src="{{ asset('asset/img/arrow.png') }}" alt="arrow"></li>
                        </ul>
                        <div class="nav-mobile-search">
                            <form method="post">
                                <input type="text" placeholder="Rechercher un vinyle">
                                <span></span>
                                <select id="categorie" name="categorie" placeholder="Catégorie">
                                    <option value="categorie1">Catégorie 1</option>
                                    <option value="categorie2">Catégorie 2</option>
                                </select>
                                <button  type="submit">Rechercher</button>
                            </form>
                        </div>
                    </div>
                 </div>
                    {# <div>
                        <a href="{{ path('app_index_categories') }}">Categories</a>
                {{ render(controller(
                'App\\Controller\\CategoryController::categoryLink'
            )) }} 
                   
                    #}
                </div>
            </header>
        {% endblock %}
        {% block main %}{% endblock %}
            {% block footer %}
                <footer>
                    <div class="top-footer">
                      <div class="about-sitemap">
                            <div>  
                                <h2>A PROPOS</h2>
                                <ul>
                                    <li><a href="{{ path('app_index') }}">FAQ</a></li>
                                    <li><a href="{{ path('app_index') }}">Notre histoire</a></li>
                                    <li><a href="{{ path('app_index') }}">Notre entreprise</a></li>
                                </ul>
                            </div>
                            <div>  
                                <h2>SITEMAP</h2>
                                <ul>
                                    <li><a href="{{ path('app_index') }}">Accueil</a></li>
                                    <li><a href="{{ path('app_index') }}">Mon compte</a></li>
                                    <li><a href="{{ path('app_index') }}">Mes commandes</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="contact-us">
                                <h2>CONTACTEZ-NOUS</h2>
                                <div>
                                    <a href="{{ path('app_index') }}"><img src="{{ asset('asset/img/email.png') }}" alt="email">vintyle@gmail.com</a>
                                    <a href="{{ path('app_index') }}"><img src="{{ asset('asset/img/phone.png') }}" alt="phone">06 03 59 38 92</a>
                                </div>
                            </div>
                             <div class="newsletter">
                                <h2>REJOIGNEZ NOTRE NEWSLETTER</h2>
                                <form action="/votre-route-de-traitement" method="post">
                                    <label for="email">Adresse e-mail:</label>
                                    <input type="email" id="email" name="email" placeholder="Entrez votre adresse e-mail ici" required>
                                    <button type="submit">Abonnez-vous !</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="bottom-footer">
                         <a href="{{ path('app_index') }}">Mentions légales</a>
                         <a href="{{ path('app_index') }}">Données personnelles</a>
                         <a href="{{ path('app_index') }}">Copyright © Vintyle 2023 . Tous droits reservés.</a>
                    </div>
                </footer>
            {% endblock %}
            {% block javascripts %}
                <script>
                     function displayMenu() {
                        var hamburger = document.querySelector(".icon-hamburger");
                        var menu = document.querySelector(".nav-mobile");
                        var container = document.querySelector(".container-nav-mobile");
                        hamburger.classList.toggle("open");
                        menu.classList.toggle("open-menu");
                        container.classList.toggle("open-container");
                    }
                </script>
        {% endblock %}
    </body>
</html>
