<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Vintyle !{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('styles/base.css') }}" >
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {# {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %} #}
        
        {% block javascripts %}
            <script>
             function displayMenu() {
            var hamburger = document.querySelector(".icon-hamburger");
            var menu = document.querySelector(".nav-mobile");
            hamburger.classList.toggle("open");
            menu.classList.toggle("open-menu");
      }
            </script>
        {% endblock %}
        
    </head>
    <body>
        {% block header %}
            <header>
                <div class="top-nav">
                    <div class="account-actions">
                        <a href=""> Connexion<img src="{{ asset('asset/img/account.png') }}" alt="connexion / inscription"></a>
                    </div>
                    <div class="home-actions">
                        <a href="">Accueil<img src="{{ asset('asset/img/home.png') }}" alt="accueil"></a>
                    </div>
                    <div class="cart-actions">
                        <a href="">Panier<img src="{{ asset('asset/img/cart.png') }}" alt="Shopping Cart"></a>
                    </div>
                </div>
                <div class="mid-nav">
                    <div class="logo">
                        <a href=""><img src="{{ asset('asset/img/logo.png') }}" alt="Logo"></a>
                    </div>
                    <div class="hamburger-btn">
                        <button type="button" class="script-hamburger" onclick="displayMenu()" aria-expanded="false" aria-haspopup="true" aria-controls=".hamburger-menu" aria-label="Ouvrir le menu">
                    <div class="icon-hamburger"><span></span><span></span><span></span></div>
                        </button>
                    </div>
                </div>
            </header>
        {% endblock %}
        {% block body %}{% endblock %}
        
            {% block footer %}
                <footer>
                    <div class="top-footer">
                    
                    </div>
                    <div class="bottom-footer">
                         <a href="">Mentions légales</a>
                    </div>

                </footer>
            {% endblock %}

    </body>
</html>
