            {% if cart is same as (NULL) %}
            <a href="{{ path('app_cart_display') }}">0<img src="{{ asset('asset/img/cart.png') }}" alt="cart icon" class="cart-icon ml-2"></img></a>
            {% else %}
            <a href="{{ path('app_cart_display') }}">{{ cart.CartLine.count }}<img src="{{ asset('asset/img/cart.png') }}" alt="cart icon" class="cart-icon ml-2"></img></a> 
            {% endif %}